char_recognizer.pth
*/*.pyc
char_recognizer.pt
/sih/
/.ipynb_checkpoints/
*/__pycache__
*/__pycache__/*
*/__pycache__/
yolov3_detector/__pycache__
saved_models/testing*
*.avi
/models/enet/__pycache__/
/models/emnist/__pycache__/